<div class="d-flex flex-column justify-content-center min-vh-100">

  <div class="row justify-content-center">
    <div class="col text-center">
      <span class="text-light text-decoration-none" style="font-size: 8em; font-family: Montserrat-Black, sans-serif">
        how to setup everything for
        <%= link_to "debbis", root_path, class: "text-yellow" %>
      </span>
    </div>
  </div>
</div>